server:
  port: 8084

spring:
  application:
    name: notification-service

  kafka:
    bootstrap-servers: localhost:9092

  jackson:
    serialization:
      write-dates-as-timestamps: false

logging:
  level:
    com.example.notificationservice: INFO
