server:
  port: 8082

spring:
  application:
    name: payment-service

  datasource:
    url: jdbc:h2:mem:paymentsdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  kafka:
    bootstrap-servers: localhost:9092

logging:
  level:
    com.example.paymentservice: INFO
